.slide-container {
  padding-top: 30px;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 100%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

@media only screen and (max-width: 999px) {
  .slide-container {
    width: 100% !important;
  }
  .each-fade img {
    width: 100% !important;
    height: auto;
  }
}
