.slide-container {
  width: 1000px;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 375px;
}

@media only screen and (max-width: 999px) {
  .slide-container {
    width: 100% !important;
  }
  .each-slide > div {
    width: 100% !important;
    height: 140px;
  }
}
