.introduction {
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
  border: 2px solid, black;
  border-radius: 25px;
  background-color: black;
  padding: 20px;
  color: darkorange;
  max-width: 1000px;
}

.eventarticle {
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
  border: 2px solid, black;
  border-radius: 25px;
  background-color: black;
  padding: 20px;
  color: darkorange;
  max-width: 1000px;
  height: 500px;
}

.points {
  display: flex;
  float: right;
  text-align: left;
  line-height: 2;
}

.eventarticle img {
  width: 50%;
  margin-left: 40px;
}

@media only screen and (max-width: 999px) {
  #container {
    height: 100px;
    width: 100px;
    align-content: center;
    justify-content: center;
  }

  .eventarticle {
    height: auto;
    max-width: 100%;
  }

  .points {
    align-content: center;
    float: none;
  }

  .eventarticle img {
    width: 80%;
    margin-left: 0px;
    align-content: center;
  }
  .events {
    max-width: 100%;
  }

  .recharts-surface {
    width: 50%;
    height: 50%;
    float: left;
  }
  .recharts-default-legend {
    width: 50%;
    height: 50%;
  }
}
