.introduction {
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
  border: 2px solid, black;
  border-radius: 25px;
  background-color: black;
  padding: 20px;
  color: white;
  max-width: 1000px;
}

.teamarticle {
  margin-top: 10px;
  margin-bottom: 50px;
  border: 2px solid, black;
  border-radius: 25px;
  background-color: black;
  padding: 20px;
  color: white;
  max-width: 1000px;
}

.teamprofilepic {
  height: 200px;
  width: auto;
  border-radius: 50%;
  color: white;
  margin: 10px auto 20px auto;
  float: right;
}

.list {
  line-height: 2;
}

.team {
  margin-left: auto;
  margin-right: auto;
}

.posted {
  font-size: 10;
  text-align: right;
}

@media only screen and (max-width: 999px) {
  .introduction {
    max-width: 100%;
  }
  .teamarticle {
    max-width: 100%;
  }
  .teamimage img {
    width: 30%;
    height: 30%;
  }
}
