.introduction {
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
  border: 2px solid, black;
  border-radius: 25px;
  background-color: black;
  padding: 20px;
  color: darkorange;
  max-width: 1000px;
}

.toparticle {
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
  border: 2px solid, black;
  border-radius: 25px;
  background-color: black;
  padding: 20px;
  color: darkorange;
  max-width: 1000px;
  clear: both;
}

.posted {
  font-size: 10;
  text-align: right;
}
