.introduction {
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
  border: 2px solid, black;
  border-radius: 25px;
  background-color: black;
  padding: 20px;
  color: darkorange;
  max-width: 1000px;
}

.toparticle {
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
  border: 2px solid, black;
  border-radius: 25px;
  background-color: black;
  padding: 20px;
  color: darkorange;
  max-width: 1000px;
}

.posted {
  font-size: 10;
  text-align: right;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.pics img {
  width: 40%;
  vertical-align: middle;
}

@media only screen and (max-width: 999px) {
  .introduction {
    max-width: 100%;
  }
  .toparticle {
    max-width: 100%;
  }
  .home {
    width: 100%;
  }
}
