.heroeswrapper {
  align-content: center;
  text-align: center;
  display: inline-block;
}

.heroeswrapper img {
  width: 60%;
}

a {
  color: white;
}

/*GOOGLE MAP*/
.mapouter {
  position: relative;
  text-align: right;
  height: 300px;
  width: 300px;
  float: right;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 300px;
  width: 300px;
}
